<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UCL</title>
    <!-- link to css file -->
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
    <!-- bootstrap links (1) for mobile (2) implement bootstrap (3) icons -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <!-- frame of the page -->
    <div class="container-fluid">
      <!-- navigation bar -->
      <div class="row align-items-center">
        <nav class="navbar navbar-expand justify-content-between">
          <ul id="nav-left" class="navbar navbar-nav">
            <li class="navbar-brand">
              <a href="/"><i class="bi bi-house" style="color: black"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/leagueStandings" style="color: black"
                >League Standings</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/worldCup" style="color: black"
                >World Cup</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: black">UCL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/copaLibertadores" style="color: black"
                >Libertadores</a
              >
            </li>
          </ul>
          <ul id="nav-right" class="navbar navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link"
                href="mailto:djgregorio10@gmail.com"
                style="color: black"
                >Contact</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- 
        section for the competition logo, competition name, current matchday, season-start date, season-end date
      -->
    <div class="container clFont">
      <div class="row align-items-center p-3">
        {% for head in head %}
        <div class="col">
          <h4 id="clTitle">
            <img src="{{head[0]}}" width="75px" /> {{head[1]}}
          </h4>
        </div>
        <div class="col">
          <h2>Matchweek : {{head[2]}}</h2>
        </div>
        <div class="col">
          <h5>
            Start : {{head[3]}} <br />
            End : {{head[4]}}
          </h5>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- display the standings table -->
    <div class="container clFont">
      {% for groups in groups %}
      <div class="row col p-3" style="margin: auto">
        <table class="table table-hover">
          <thead class="cltHead">
            <tr>
              <th class="noborder" scope="col" colspan="7">
                Group: {{groups[0]}}
              </th>
            </tr>
            <tr>
              <th scope="col">Position</th>
              <th class="club" scope="col">Club</th>
              <th scope="col">Played</th>
              <th scope="col">Won</th>
              <th scope="col">Drawn</th>
              <th scope="col">Lost</th>
              <th scope="col">Points</th>
            </tr>
          </thead>
          <tbody class="table-group-divider cltBody">
            {% for team in groups[1] %}
            <tr>
              <th scope="row">{{team[0]}}</th>
              <td class="club">
                <img src="{{team[1]}}" width="35px" /> {{team[2]}}
              </td>
              <td>{{team[3]}}</td>
              <td>{{team[4]}}</td>
              <td>{{team[5]}}</td>
              <td>{{team[6]}}</td>
              <td>{{team[7]}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endfor %}
    </div>
    <!-- display the playoff tables -->
    <div class="container clFont">
      {% for playoffs in playoffs %}
      <div class="row col-10 p-1" style="margin: auto">
        <table class="table table-hover">
          <thead class="cltHead">
            <tr>
              <th class="noborder" scope="col" colspan="5">{{playoffs[0]}}</th>
            </tr>
          </thead>
          <tbody class="table-group-divider cltBody">
            {% for team in playoffs[1] %}
            <tr>
              <td class="col-5" style="text-align: right">
                {{team[1]}} <img src="{{team[0]}}" width="35px" />
              </td>
              <td style="text-align: right">{{team[3]}}</td>
              <td class="text-center">{{team[2]}} : {{team[5]}}</td>
              <td style="text-align: left">{{team[4]}}</td>
              <td class="col-5" style="text-align: left">
                <img src="{{team[6]}}" width="35px" /> {{team[7]}}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endfor %}
    </div>
    <!-- javascript link for bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
